@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


.mainContainer {
  display:flex;
  justify-content: center;
}

header h1 {
  font-family:"Love Ya Like A Sister";
  color:white;
}
header {
  background-color: var(--yellow);
  border-bottom:4px solid #E7B355;
  display:flex;
  justify-content: center;
}

input[type=text] {
  background-color: var(--lightgrey);
  border: white solid 3px;
  border-radius: 30px;
  font-size: 24px;
  color: #000;
  padding: 10px 50px 10px 50px;
  width: 100%;
}

input[type=text]:focus {
  outline:none;
}

button[type=submit] {
  background-color: var(--lightgrey);
  color: var(--purple);
  border: none;
  font-size: 40px;
  padding: 0px;
  border-radius: 50px;
  margin: -50px;
  cursor: pointer;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.headerLink {
  text-decoration:none;
}

.profileButton {
  font-size: 18px;
  text-decoration: none;
  color:white;
  background-color: var(--darkyellow);
  padding: 3px 30px 3px 10px;
  margin-right:-25px;
  border-radius: 20px;
}

.faPicture {
  font-size:30px;
  color:white;
  z-index:5;
}

.profileButtonContainer {
  display: flex;
  align-items: center;
}
.profileButtonContainer p {
  color:white;
}

.logoutButton {
  font-size: 18px;
  text-decoration: none;
  color:white;
  background-color: var(--darkyellow);
  padding: 3px 10px 3px 30px;
  margin-left:-25px;
  border-radius: 20px;
  border:none;
  font-family:"Sanchez", serif;
  z-index:2;
  cursor: pointer;
}


.startupHeaderContainer {
  background-color: var(--yellow);
  width:100%;
  font-family:"Love Ya Like A Sister";
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding-bottom:100px;
  color:white;
}

.startupHeaderContainer img {
  width:100px;
}

.startupTextContainer {
  display:block;
}

.startupMainContainer{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.startupForm {
  display: flex;
  align-items: center;
  align-content: center;
  padding-right: 50px;
  padding-left:10px;
  width: 620px;
}

.startupFormContainer {
  width: 700px;
  padding-top:20px;
  height: 80px;
  box-shadow: 3px 3px 10px#555;
  margin-top: -75px;
  border-radius: 20px;
  display:flex;
  align-items: center;
  overflow: auto;
  border-bottom: var(--purple) solid 35px;
  background-color:white;
}

.translationContainer {
  width: 100%;
  display:flex;
  align-items: center;
  flex-direction: column;
}


.translationHeaderContainer {
  width: 100%;
  height: 150px;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.translationForm {
  display: flex;
  align-items: center;
  padding-right: 50px;
  width: 600px;
}

.translationBox {
  width: 700px;
  height: 300px;
  box-shadow: 3px 3px 10px#555;
  margin-top: 75px;
  border-radius: 20px;
  overflow: auto;
  border-bottom: var(--purple) solid 35px;
}

.translationBox img {
  width: 90px;
}

.translationBoxText {
  margin-top: -28px;
  margin-left: 20px;
  background-color: #eee;
  border: white solid 2px;
  padding: 3px 10px;
  font-size: 10px;
  border-radius: 20px;
  width:min-content;

}
