@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

:root {
  --yellow: #FFC75F;
  --darkyellow: #E7B355;
  --grey: #969696;
  --lightgrey:#EFEFEF;
  --purple: #845ec3;
}

body {
  margin: 0;
  font-family:"Sanchez", serif;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  
  width:700px;

}
