ul {
    list-style-type: none;
}

li {
    box-shadow: 3px 3px 10px#555;
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.deleteButton {
    background-color: var(--purple);
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}